.main-container {
    width: 80vw;
    margin: 0 auto;
    min-height: 800px;
}

.history-text {
    margin-top: 150px;
    margin-bottom: 50px;
}

.card {
    height: fit-content;

}

.history-header {
    font-weight: 500;
    font-size: 1.1rem;
}

.view-button {
    width: 150px;
    background-color: #00b8f1;
    border: none;
    color: white;
    padding: 6px 24px;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}