

div.main-logo {
    margin: 0px 0px 50px 0px;
}

div.wide-box-thing {
  width: 100%;
  background-color: #94c6f8;
}

img.logo {
    max-width: 200px;
}

div.background-image {
    background-image: url('../images/weather_image_old.jpg');
    width: 100%;
    height: 100vh;
}

p.color-text {
    color: #0d526d;
    line-height: 1.75;
}

h2.fancy-header {
    font-size: 2.5rem;
    font-weight: 700;
    color: #08303f;
    margin-bottom: 20px;
}

div.footer-background-image {
    background-image: linear-gradient(to bottom, rgba(238, 245, 255, 1), rgba(255,255,255,0)), url('../images/cool_triangles.jpg');
    width: 100%;
    height: 100vh;
}











h2.header-title {
    font-size: 3rem;
    font-weight: 800;
    color: #08303f;
}



div.card-thing {
    height: 100%;
}

h3.footer-header {
    font-size: 1.5rem;
    font-weight: 800;
    color: #08303f;
}

div.footer-container {
    background-color: #b9d6ff;
    padding-top: 50px;
    padding-bottom: 50px;
}

img.weatherAPI-logo {
  height: 100%;
}

.main-container {
    width: 100vw;
    margin: 0 auto;
}


.skills-card {
    aspect-ratio: 1;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icon {
  width: 80%;
  aspect-ratio: 1;           
  display: flex;
  align-items: center;      
  justify-content: center;   
  border-radius: 8px;
  overflow: hidden;
}

.skill-icon img {
    object-fit: contain;
}

.skill-label {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}